<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0 auto;padding:0;">
    <tbody>
        <tr>
            <td style="background-color:white;padding:16px 0;">
                <span style="background-color:white;">
                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;width:100%;background-color:#673AB7;margin:auto;padding:4px;border-radius:5px;max-width:600px;">
                        <tbody>
                            <tr style="background-color: rebeccapurple">
                                <td>
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;width:100%;background-color:white;margin:auto;border-radius:12px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%;background-color:white;padding:10px">
                                                        <tbody>
                                                            <tr style="background-color: rebeccapurple;">
                                                                <td align="left" valign="middle" style="text-align:justify;padding:16px 32px;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="100" valign="middle" style="width:40px;padding:0;text-align:center">
                                                                                    <a href="">
                                                                                        <font color="white">
                                                                                            <a style="color: white;text-decoration: none;" href="#">LOGO EIXTRACKER<!-- <img data-imagetype="External" blockedimagesrc="" width="40" border="0" alt="PhonePe"> --></a>

                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:16px 16px;">
                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%;background-color:#F7F9FA;padding:16px;border-radius:8px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="text-align:justify;padding-bottom:16px;border-bottom:1px solid #EAEAED;">
                                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="text-align:justify;">
                                                                                    <span style="text-transform:uppercase;">
                                                                                        <div style="display:block;width:100%;font-size:22px">Hello Xyz,</div>

                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="middle" style="text-align:justify;padding:8px 0;border-bottom:1px solid #EAEAED;">
                                                                    <font size="1">
                                                                        <span style="">
                                                                            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <div style="display:block;width:100%;"><font size="2"><span style="font-size:20px;font-weight:normal;">You recently requested a new password. To complete your request,Please use pass-code.</span></font></div>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </span>
                                                                    </font>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="middle" style="text-align:justify;padding:8px 0 0 0;">
                                                                    <font size="1">
                                                                        <span style="font-size:22px;">
                                                                            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="left" valign="top" style="font-size:22px;width:28%;text-align:justify;">Pass-Code</td>
                                                                                        <td width="16" align="left" valign="top" style="font-size:22px;width:16px;text-align:justify;"><span style="font-weight:normal;">:</span></td>
                                                                                        <td align="left" valign="top" style="text-align:justify;"><span style="font-size:22px;font-weight:normal;">BR0001B8N5PJ </span></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </span>
                                                                    </font>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:white;padding:32px;">
                                                    <font face="roboto,Arial,Helvetica,sans-serif">
                                                        <span style="background-color:white;">
                                                            <div style="margin:0;padding:0;">
                                                                Cheers!<br><br>
                                                                Team Eixtracker
                                                            </div>
                                                        </span>
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:16px 32px;border-top:1px solid #EAEAED;">
                                                    <font face="roboto,Arial,Helvetica,sans-serif" size="1">
                                                        <span style="font-size:12px;">
                                                            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="width:100%;text-align:center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="3" style="padding-top:16px;">
                                                                            <font color="#7E818C">
                                                                                <span style="font-weight:normal;">
                                                                                    <i>
                                                                                        2018&nbsp;&copy;<a href="http://www.devtracker.eixtracker.com" target="_blank" rel="noopener noreferrer" style="text-decoration:none">&nbsp;<font color="#673AB7">Eixtracker</font></a>
                                                                                    </i>
                                                                                </span>
                                                                            </font>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </span>
                                                    </font>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </td>
        </tr>
    </tbody>
</table>