﻿
@{
    ViewData["Title"] = "GetCacheData";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>GetCacheData @ViewBag.data</title>*@
    @model DateTime?

    @using (Html.BeginForm("GetCacheData", "Home"))
    {
        <div class="row">
            <div class="col-md-3">
                <h3> Current Time: @DateTime.Now.ToString()</h3>
            </div>
            <div class="col-md-3">
                <h3> Cache Time: @(Model != null ? @Model.ToString() : "Cache is not available")</h3>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-danger" value="Remove" />
            </div>
        </div>
    }
</head>
<body>
</body>
</html>
