﻿@model eix_tracker.Models.Login
@*@model eix_tracker.Models.Role*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <h3>A real-time Map</h3>
            <div id="map">
            </div>
        </div>
    </div>
</div>
<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>
<h2>Index</h2>
<h4>Login</h4>

@*<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAniUCyk0Gfp_UT1qNTHg2AF4I4ZmQ6EGo&callback=initMap"></script>

    <script>
    //if (navigator.geolocation) {
    //    navigator.geolocation.getCurrentPosition(function (position) {

    //        var point = new google.maps.LatLng(position.coords.latitude,
    //            position.coords.longitude);

    //        // Initialize the Google Maps API v3
    //        var map = new google.maps.Map(document.getElementById('map'), {
    //            zoom: 15,
    //            center: point,
    //            mapTypeId: google.maps.MapTypeId.ROADMAP
    //        });

    //        // Place a marker
    //        new google.maps.Marker({
    //            position: point,
    //            map: map
    //        });
    //    });
    //}
    let lineCoordinates = []
    //var latitude;
    //var longitude;
    //navigator.geolocation.getCurrentPosition(function (position) {

    //    var point = new google.maps.LatLng(position.coords.latitude,
    //        position.coords.longitude);
    //    alert(point.position.coords.latitude);
    //    //latitude = new google.maps.LatLng(position.coords.latitude);
    //    //longitude = new google.maps.LatLng(position.coords.longitude);
    //});

    let latitude = 6.4541;
    let longitude = 3.3947;

    let map = false;
    let marker = false;

    const pusher = new Pusher('e0acb5f1de23a88e278f', {
        cluster: 'ap2'
    });

    const channel = pusher.subscribe('location_channel');

    channel.bind('new_location', function (data) {
        updateMap(data);
    });

    function initMap() {
        let lagos = { lat: latitude, lng: longitude };
        mmm 
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: lagos
        });

        marker = new google.maps.Marker({
            position: lagos,
            map: map
        });

        lineCoordinates.push(marker.getPosition())
    }

    const updateMap = function (data) {
        latitude = (data.latitude * 1);
        longitude = (data.longitude * 1);

        map.setCenter({
            lat: latitude,
            lng: longitude,
            alt: 0
        });

        marker.setPosition({
            lat: latitude,
            lng: longitude,
            alt: 0
        });
        lineCoordinates.push(marker.getPosition())
        let lineCoordinatesPath = new google.maps.Polyline({
            path: lineCoordinates,
            geodesic: true,
            map: map,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
    }

    $(document).ready(function () {
        //sendRequest();
        function sendRequest() {
            $.ajax({
                url: "api/Map/location_track",
                type: "POST",
                dataType: "json",
                //contentType: "application/json",
                data: JSON.stringify({ 'lat': latitude, 'lng': longitude }),
                success:
                    function (data_new) {
                        $('#listposts').html(data_new); //insert text of test.php into your div
                    },
                complete: function () {
                    // Schedule the next request when the current one's complete
                    //setInterval(sendRequest, 5000); // The interval set to 5 seconds
                }
            });
        };
    });
</script>

<script>
    $(document).ready(function () {
        $("#Save").click(function (event) {
            event.preventDefault();
            var person = new Object();
            person.username = $('input#uname').val();
            person.password = $('input#pswd').val();

            $.ajax({
                url: 'http://localhost:50289/token',
                type: 'POST',
                data: person,
                success: function (response) {
                    var jsonObj = response;
                    var jasonarry = jsonObj.userAuth;
                    var parser = JSON.stringify(jasonarry);
                    alert("Hello");
                    //console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Hibbb");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        var tookan = "RGV2ZWxvcGVyQHBlY3dvcmtzaXRlLmNvbTp3WHZGT0ZEQU9nVjN2ZFB5YmNFTkZDMDY=";
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Basic ' + tookan);
            },
            url: "https://pecworksite.atlassian.net/rest/servicedeskapi/servicedesk/23/queue/139/issue",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //alert(JSON.stringify(data));

                var html = "";
                var jsonObj = data;
                var jasonarry = jsonObj.roleInfo;
                var parser = JSON.stringify(jasonarry);
                //alert(data.si);
                $.each(jasonarry, function (key, val) {
                    html += '<tr>' +
                        "<td id='role_id'>" + val.role_id + "</td>" +
                        "<td id='role_name'>" + val.role_name + "</td>" +
                        '</tr>';
                });
                $('#Table').append(html);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                url: "https://go-tracker.net/api/demo/role_list_new", success: function (result) {
                }
            });
        });
    });
</script>
<script>

</script>
<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External Content</button>
<h3>Success handler</h3>
<div class="feedback-box-success"></div>
<h4>Log (success)</h4>
<ol id="log_success"></ol>
<hr>
<h3>Complete handler</h3>
<div class="feedback-box-complete"></div>
<h4>Log (complete)</h4>
<ol id="log_complete"></ol>

<div class="panel-body">
    <table class="table table-bordered" id="Table">
        <tr>
            <th>Role ID</th>
            <th>Role Name</th>
            @*<th>Address</th>
                <th>Phone No</th>
                <th>Admission Date</th>*@
        </tr>   <!--end of table-row -->
    </table>   <!--end of table -->
</div> <!--end of Panel-body -->
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="username" class="control-label"></label>
                    <input asp-for="username" class="form-control" id="uname" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" id="pswd" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="Save" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
